In [15]:
import pandas as pd
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense


df = pd.read_csv('Gpa.csv')

df.head()

,Hours Studied Weekly,Class Participation Rate,Field of Study,Secondary School GPA,Hobby Activities,Employment Status,Online Research Hours,Student ID,Age,Hometown,Preferred Study Time,College GPA
0,6.77,85.24,Science,3.32,3,Unemployed,2.68,256811.0,22.0,Santa Ana,Afternoon,2.56
1,11.86,62.25,Engineering,3.34,3,Employed,16.84,878869.0,19.0,San Jose,Afternoon,3.05
2,0.58,94.29,Business,3.61,4,Unemployed,10.06,509916.0,22.0,San Francisco,Afternoon,2.89
3,19.35,53.94,Business,3.55,2,Employed,15.64,217307.0,22.0,San Francisco,NaN,3.19
4,38.79,73.80,Science,2.95,2,Employed,7.71,371517.0,22.0,Anaheim,Evening,3.40

In [16]:
print("Missing value before dropping: ")
print(df.isna().sum())

print("")
print("Missing value after dropping: ")
df.dropna(inplace=True)
print(df.isna().sum())

Missing value before dropping:
Hours Studied Weekly          0
Class Participation Rate     37
Field of Study                0
Secondary School GPA          0
Hobby Activities              0
Employment Status             0
Online Research Hours         0
Student ID                  113
Age                          12
Hometown                      0
Preferred Study Time         97
College GPA                   0
dtype: int64

Missing value after dropping:
Hours Studied Weekly        0
Class Participation Rate    0
Field of Study              0
Secondary School GPA        0
Hobby Activities            0
Employment Status           0
Online Research Hours       0
Student ID                  0
Age                         0
Hometown                    0
Preferred Study Time        0
College GPA                 0
dtype: int64

In [ ]:
X = df[['Hours Studied Weekly']]
y = df[['College GPA']]
print(f'Training samples: {X_train.shape[0]}, Testing samples: {X_test.shape[0]}')


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

knn_model = KNeighborsRegressor(n_neighbors=5)
knn_model.fit(X_train, y_train)
knn_predictions = knn_model.predict(X_test)
knn_mse = mean_squared_error(y_test, knn_predictions)
knn_mae = mean_absolute_error(y_test, knn_predictions)
knn_r2 = r2_score(y_test, knn_predictions)
knn_r2_percentage = knn_r2 * 100

print(f"KNN Model - Mean Squared Error: {knn_mse:.3f}")
print(f"KNN Model - Mean Absolute Error: {knn_mae:.3f}")
print(f"KNN Model - R-squared: {knn_r2:.3f} ({knn_r2_percentage:.2f}%)")

Training samples: 770, Testing samples: 193
KNN Model - Mean Squared Error: 0.151
KNN Model - Mean Absolute Error: 0.310
KNN Model - R-squared: 0.433 (43.31%)

In [18]:
ann_model = Sequential([
    Dense(10, input_dim = 1, activation= 'relu'),
    Dense(1)
])

ann_model.compile(optimizer='adam', loss='mean_squared_error')
ann_model.fit(X_train, y_train, epochs=100, batch_size=10, verbose=0)
ann_predictions = ann_model.predict(X_test).flatten()
ann_mse = mean_squared_error(y_test, ann_predictions)
ann_mae = mean_absolute_error(y_test, ann_predictions)
ann_r2 = r2_score(y_test, ann_predictions)
ann_r2_percentage = ann_r2 * 100

print(f"ANN Model - Mean Squared Error: {ann_mse:.3f}")
print(f"ANN Model - Mean Absolute Error: {ann_mae:.3f}")
print(f"ANN Model - R-squared: {ann_r2:.3f} ({ann_r2_percentage:.2f}%)")

c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

WARNING:tensorflow:5 out of the last 15 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x0000015B2E80CEA0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step
ANN Model - Mean Squared Error: 0.147
ANN Model - Mean Absolute Error: 0.307
ANN Model - R-squared: 0.451 (45.06%)